* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #f6bdd1;
  align-items: center;
  justify-content: center;
}

#container {
  text-align: center;
  margin-top: 5vh;
}

.btn {
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  transition-duration: 0.4s;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.1em;
}

.btn:hover {
  background-color: palevioletred;
  color: white;
}

#title {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  display: flex;
  justify-content: center;
  margin-top: 25vh;
}
